<div ng-controller="meController" class="content-wrapper">
    <div class="title" data-target="#me-show-info" data-toggle="collapse">
        <h3>Show profile</h3>
    </div>
    <div id="me-show-info" class="collapse">
        <img src="./assets/user.png" alt="profile">
        <div class="data-object">
            <div>
                <span class="glyphicon glyphicon-user"></span>
                <span>{{ user.username }}</span>
            </div>
            <div>
                <span class="glyphicon glyphicon-calendar"></span>
                <span>{{ user.age | date : 'MM/dd/yyyy' }}</span>
            </div>
            <div>
                <span class="glyphicon glyphicon-home"></span>
                <span>{{ user.address }}</span>
                <p><span>{{ user.address }}</span></p>
            </div>
        </div>
    </div>
    <div class="title" data-target="#me-show-events" data-toggle="collapse">
        <h3>My shares</h3>
    </div>
    <div id="me-show-events" class="collapse">
        <ul class="list">
            <li>
                <img src="./assets/event.png" alt="event" width="100" height="100">
                <div>
                    <span>Event 1</span>
                    <p><span>time ago<span class="glyphicon glyphicon-time"></span></span></p>
                </div>
                <a href="#/event">
                    <button class="btn btn-default btn-raised pull-right">Show <span
                            class="glyphicon glyphicon-search"></span></button>
                </a>
            </li>
            <li>
                <img src="./assets/event.png" alt="event" width="100" height="100">
                <div>
                    <span>Event 2</span>
                    <p><span>time ago<span class="glyphicon glyphicon-time"></span></span></p>
                </div>
                <a href="#/event">
                    <button class="btn btn-default btn-raised pull-right">Show <span
                            class="glyphicon glyphicon-search"></span></button>
                </a>
            </li>
            <li>
                <img src="./assets/event.png" alt="event" width="100" height="100">
                <div>
                    <span>Event 3</span>
                    <p><span>time ago<span class="glyphicon glyphicon-time"></span></span></p>
                </div>
                <a href="#/event">
                    <button class="btn btn-default btn-raised pull-right">Show <span
                            class="glyphicon glyphicon-search"></span></button>
                </a>
            </li>
        </ul>
    </div>
    <div class="title" data-target="#me-edit-info" data-toggle="collapse">
        <h3>Edit profile</h3>
    </div>
    <form id="me-edit-info" class="collapse" enctype="multipart/form-data"> <!-- DO NOT TOUTCH THIS => FILEUPLOAD IS A PIECE OF SHIT :( -->
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <input type="date" class="form-control" ng-model="user.age">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
            <input type="text" class="form-control" placeholder="Street & Number" ng-model="user.lat">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
            <input type="text" class="form-control" placeholder="City & Zip" ng-model="user.lng">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
            <input type="file" class="form-control" name="userimage">
        </div>
        <div class="checkbox-wrapper">
            <p>Chat<span>enabaled</span></p>
            <div class="checkbox">
                <input type="checkbox" id="chat" name="chat" ng-model="user.chat">
                <label for="chat"></label>
            </div>
        </div>
    </form>
    <div class="navigation">
        <button ng-click="logout()" class="btn btn-default btn-raised pull-left">Logout <span
                class="glyphicon glyphicon-off"></span>
        </button>
        <button ng-click="save(user)" class="btn btn-default btn-raised pull-right">Save <span
                class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>