doctype html
html(lang='en', ng-app='geofeelings')
    head
        meta(charset='UTF-8')
        title Geofeelings
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
        link(href='dist/css/site.css', rel='stylesheet')
    body
        main
            nav.navbar.navbar-default.navbar-fixed-top
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='index.html')
                            img(src='assets/logo.png', alt='logo')
                    #navbar
                        ul.nav.navbar-nav.navbar-right
                            li
                                button.btn.btn-default.btn-raised
                                    | Help
                                    span.glyphicon.glyphicon-question-sign
                            li
                                button.btn.btn-default.btn-raised
                                    | Settings
                                    span.glyphicon.glyphicon-wrench
                            li
                                button.btn.btn-default.btn-raised
                                    | User
                                    span.glyphicon.glyphicon.glyphicon-user
            article.container-fluid
                section.col-md-9.map(ng-controller='mapController')
                    #map
                    .slider-wrapper
                        label(for='filter')
                            | Time interval
                            span.glyphicon.glyphicon-time
                        input#filter(type='range', name='filter')
                aside.col-md-3
                    search(ng-hide='false')
                    login(ng-hide='true')
                    register(ng-hide='true')
                    //
                      <div id="search">
                      <div ng-controller="searchController">
                      <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                      <input type="search" class="form-control" placeholder="Search for persons, events or locations">
                      </div>
                      <div class="input-group checkbox-wrapper">
                      <div class="checkbox">
                      <input type="checkbox" name="person" id="person">
                      <label for="person"></label>
                      </div>
                      <p>Persons<span class="glyphicon glyphicon glyphicon-user"></span></p>
                      </div>
                      <div class="input-group checkbox-wrapper">
                      <div class="checkbox">
                      <input type="checkbox" name="event" id="event">
                      <label for="event"></label>
                      </div>
                      <p>Events<span class="glyphicon glyphicon glyphicon glyphicon-calendar"></span></p>
                      </div>
                      <div class="input-group checkbox-wrapper">
                      <div class="checkbox">
                      <input type="checkbox" name="locaction" id="location">
                      <label for="location"></label>
                      </div>
                      <p>Locations<span class="glyphicon glyphicon glyphicon-map-marker"></span></p>
                      </div>
                      </div>
                      </div>
                    //
                      <div id="login">
                      <div ng-controller="loginController">
                      <div>
                      <h2>Enter the happiness</h2>
                      </div>
                      <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                      <input type="text" class="form-control" placeholder="Username">
                      </div>
                      <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-console"></span></span>
                      <input type="password" class="form-control" placeholder="Password">
                      </div>
                      <div class="btn-wrapper">
                      <button class="btn btn-default btn-raised">Go<span
                      class="glyphicon glyphicon-chevron-right"></span></button>
                      <div>
                      <a href="#">Register ></a>
                      <a href="#">Forgotten ></a>
                      </div>
                      </div>
                      </div>
                      </div>
                    //
                      <div id="register">
                      <div ng-controller="registerController">
                      <div>
                      <h2>Join the happiness</h2>
                      </div>
                      <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                      <input type="text" class="form-control" placeholder="Username">
                      </div>
                      <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                      <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-console"></span></span>
                      <input type="password" class="form-control" placeholder="Password">
                      </div>
                      <div class="btn-wrapper">
                      <button class="btn btn-default btn-raised">Go<span class="glyphicon glyphicon-chevron-right"></span></button>
                      <div>
                      <a href="#">Login ></a>
                      </div>
                      </div>
                      </div>
                      </div>
                    footer
                        | © Lienert Deprez & Jonatan Michiels
        script(src='https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='https://maps.googleapis.com/maps/api/js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-mocks.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js')
        script(src='dist/js/app.min.js')
       