<div ng-controller="introController" class="content-wrapper">
    <div class="title">
        <h2>How are you feeling?</h2>
    </div>
    <div class="slider-wrapper">
        <label for="filter"></label>
        <input type="range" id="filter" name="filter" ng-model="sliderValue">

        <p id="sliderPercent">{{moodWord}}</p>
        <canvas id="smileyCanvas" width="150" height="150">
        </canvas>

        <a>
            <button class="btn btn-default btn-raised pull-right" ng-mouseover="console.log('ajo')"
                    ng-click="postShare()">Submit!
                <span ng-show="!sharePosted" class="glyphicon glyphicon-chevron-right"></span>
                <span ng-show="sharePosted" class="glyphicon glyphicon-refresh"></span>
            </button>
        </a>
    </div>
</div>