/* 0. IMPORTS */
@import "variables.less";
@import "mixins.less";

/* 1. DEFAULT ELEMENTS & RESET */

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", "sans-serif";
    font-weight: normal;
    color: @textcolor;
    background: @white;
}

article.container-fluid {
    padding: 0;
}

/* 2. NAVIGATIONBAR */

/* 2.1 NAVBAR */

.navbar {
    background: @orange;
    border: none;
    margin-bottom: 0;

    .navbar-brand {
        padding-top: 10px;
        line-height: 30px;
        /*transition: all 0.4s;

        &:hover {
            background: darken(@orange, 1%);
        }*/
    }

    .navbar-header {
        display: inline-block;
        float: left;
    }
}

#navbar {
    display: inline-block;
    float: right;

    ul {
        margin: 0;

        li {
            display: inline-block;
        }
    }
}

/* 2.2 Buttons */

.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 2px;

    &:focus, &:active:focus, .btn.active:focus {
        outline: 0 none;
    }
}

.btn-default {
    background: darken(@orange, 2%);
    margin: 7px 0 0 10px;
    color: @white;
    transition: background 0.4s;

    &:hover, &:focus, &:active, &.active, .open > .dropdown-toggle.btn-default {
        background: darken(@orange, 3%);
        color: @white;
    }

    span {
        padding: 0 0 0 10px;
    }
}

.btn-default:active, .btn-primary.active {
    background: darken(@orange, 4%); //3
    box-shadow: none;
}

.btn-default.btn-raised {
    box-shadow: 0 3px 0 0 darken(@orange, 4%);
}

.btn-default.btn-raised:active, .btn-default.btn-raised.active {
    background: darken(@orange, 3%);
    box-shadow: none;
    margin-bottom: 4px;
    margin-top: 10px;
    color: @white;
}

/* 3.0 ASIDE */

aside {
    background: @lightorange;
    padding: 70px 0 0 0;
    height: 100vh;

    .input-group-addon {
        background-color: @white;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075);
        border-right: 0 solid transparent;
        padding-right: 0;

        span {
            color: @lightorange;
        }
    }

    input[type="search"] {
        border-left: 0 solid transparent;
        box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.075);

        &:focus {
            box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.075);
            border: 1px solid #ccc;
            border-left: 0 solid transparent;
        }
    }

    .checkbox {
        display: inline-block;
        margin: 15px 20px 0 0;

        span {
            padding: 0 0 0 5px;
        }

    }
}

/* 4.0 SECTION */

section.map {
    height: 100vh;
    padding: 0;

    #map {

    }

    #controls {
        height: 50px;
        width: 100%;
        bottom: 0;
        position: absolute;
        background: transparent;
    }
}
